body
{
margin:0px;
padding:0px;
font-family:poppins;
}


.abc
{
background-color: rgba(0,0,0,0.3) ;
border-radius: 5px;
padding-left: 40px;
padding-right: 35px;
padding-top: 4px;
padding-bottom: 4px;
margin-top: 5px;
}

header .carousel-inner .carousel-item
{
    height: 100vh;
}

.banner
{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:100vh;
}
.carousel-caption
{
    font-family: poppins;
	padding-bottom:200px;
}
.navbar-brand
{
	color:#FFFFFF;
    font-size: 40px;
    font-weight: 800;
    font-family: poppins;
	z-index:1;
}
.nav-link
{
    color: white;
    font-size: 20px;
    font-weight: 700;
	font-family:poppins;
	
}
.nav-link:hover
{
    color:#3399FF;
    transition: .5s;
}
.nav-link:hover::after
{
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}
h1
{
color:#FFFF00;
font-weight:900;
font-family:poppins;
font-size:50px;
}
p
{
color:#FFFFFF;
font-size:20px;
font-family:poppins;
font-weight:700;
}
.solid_navbar
{
    background-color: #17082D;
    padding: 0px;
    margin-top: -2px;
}
.footercolor
{
    background-color: #17082D;
    text-color: white;
}
